*.sh text eol=lf
*.bash text eol=lf
*.bat text eol=crlf
*.ps1 text eol=crlf
*.yaml text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.dart text eol=lf
*.md text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf